body,html {
	height: 100%;
}

.flights-background-img {
	background-image: url(https://picsum.photos/1920/1080/?blur);

	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
 	background-attachment: fixed;
}

.inspireText {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}